<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'students')}">

  <body>

    <h2>Students</h2>

    <table id="depts" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 200px;">I.D</th>
            <th>Date Of Admission</th>
            <th style="width: 120px">Date of Graduation</th>
            <th>Enrolled Terms</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="student : ${selections}">
              <td>
                  <a th:href="@{/students/__${student.id}__}" th:text="${student.firstName + ' ' + student.lastName}"/></a>
              </td>
              <td th:text="${student.studentid}"/>
              <td th:text="${student.dateOfAdmission}"/>
              <td th:text="${student.dateOfGraduation}"/>
           <td>
           <!-- <span th:each="enrollment : ${student.enrollments}" th:text="${enrollment.term} "></span> -->
           </td>
          </tr>
        </tbody>
    </table>

  </body>
</html>
